.contactContainer {
    .contact {
        h2 {
            @media screen and (max-width: 850px) {
                font-size: 3rem;
            }
        }
    }

    @media screen and (max-width: 850px) {
        margin-left: 30px;
    }

    @media screen and (max-width: 768px) {
        background: url('./assets/images/contact-mobile.png') no-repeat bottom
            center;
        background-size: cover;
    }

    @media screen and (min-width: 900px) and (max-width: 1024px) {
        section {
            width: 120%;
        }

        margin-top: 20%;
    }

    .contentBox {
        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }
    .formGroup {
        span {
            @media screen and (max-width: 550px) {
                left: 10%;
            }
        }
        .formControl {
            @media screen and (max-width: 550px) {
                width: 90%;
            }
        }
    }
    @media screen and (max-height: 500px) {
        margin-bottom: 20%;
    }

    @media screen and (max-height: 900px) {
        margin-bottom: 8%;
    }
}
