.contactContainer {
    @media screen and (min-width: 900px) and (max-width: 1024px) {
        section {
            width: 120%;
        }

        margin-top: 20%;
    }

    @media screen and (max-height: 900px) {
        margin-bottom: 8%;
    }

    @media screen and (max-width: 850px) {
        margin-left: 30px;
    }

    @media screen and (max-width: 768px) {
        background: url('./assets/images/contact-mobile.png') no-repeat bottom
            center;
        background-size: cover;
    }

    @media screen and (max-height: 500px) {
        margin-bottom: 20%;
    }

    .contact {
        h2 {
            @media screen and (max-width: 850px) {
                font-size: 3rem;
            }
        }
    }

    .contentBox {
        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }
    .formGroup {
        span {
            @media screen and (max-width: 550px) {
                left: 10%;
            }
        }
        .formControl {
            @media screen and (max-width: 550px) {
                width: 90%;
            }
        }
    }

    @media screen and (min-width: 2300px) {
        background: url('./assets/images/contact.png') no-repeat bottom;
        background-size: contain;

        .contact {
            h2 {
                font-size: 8rem;
            }
        }

        .form {
            .formControl {
                height: 250px !important;
            }

            textarea.formControl {
                padding-top: 100px !important;
            }

            input,
            textarea,
            select {
                font-size: 45px !important;
            }

            .formGroup {
                span {
                    font-size: 45px;
                }
            }

            .sendButtonHref {
                margin-top: 10%;

                padding: 35px 65px;
                font-size: 58px;
            }
        }
    }
}
