@media screen and (max-width: 500px) {
    .footer-section {
        margin-top: 300px;
    }
}


@media screen and (max-width: 768px) {
    .footer-section {
        display: flex;
        flex-direction: column-reverse;
        font-size: 1rem;
        padding: 10%;

        .github {
            .custom-button-href {
                padding: 20px 31px;
                text-align: center;
                font-size: 2.2rem;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }

        .cv {
            .custom-button-href {
                padding: 20px 31px;
                text-align: center;
                font-size: 2.2rem;
                margin-top: 30px;
            }
        }

        .linkedin {
            .custom-button-href {
                padding: 20px 31px;
                text-align: center;
                font-size: 2.2rem;
                margin-top: 10px;
            }
        }

        .all-rights-reserved {
            padding-bottom: 20px;
        }
    }
}


@media screen and (max-width: 900px) {
    .footer-section {
        margin-top: 200px;
    }
}

@media screen and (max-height: 600px) {
    .footer-section {
        margin-top: 300px;
    }
}