@keyframes animate {
    0% {
        filter: grayscale(100%);
        filter: blur(4px);
        background: url('./assets/images/iceland-background-init.webp')
            no-repeat bottom center;
        background-size: cover;
    }
    100% {
        filter: grayscale(0%);
        filter: blur(0);
    }
}

@keyframes mobile-animate {
    0% {
        filter: grayscale(100%);
        filter: blur(4px);

        background: url('./assets/images/iceland-background-mobile-init.webp')
            no-repeat bottom center;

        background-size: cover;
    }
    100% {
        filter: grayscale(0%);
        filter: blur(0);
    }
}
