@media screen and (max-width: 550px) {
    .main-container {
        font-size: 18px;

        .static-text {
            width: 90%;
            padding: 2px;
            div {
                padding: 20px;
            }
        }
        .typing-text {
            min-width: 90% !important;
        }
    }
}

@media screen and (max-width: 768px) {
    .main-container {
        animation: mobile-animate 2s linear;
        background: url('./assets/images/iceland-background-mobile.webp')
            no-repeat bottom center;
        background-size: cover;

        &:hover {
            background: url('./assets/images/iceland-background-mobile.webp')
                no-repeat bottom center;
            background-size: cover;
        }
        .typing-text {
            font-size: 22px;
            min-width: 350px;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .static-text {
            top: 70%;
            left: 50%;
        }
    }
}

@media screen and (min-width: 769px) {
    .main-container {
        animation: animate 2s linear;
    }
}

@media screen and (max-width: 1640px) {
    .main-container {
        .static-text {
            div {
                padding: 28px;
            }
        }
    }
}
