@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.main-container {
    background: url('./assets/images/iceland-background.webp') no-repeat bottom
        center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    font-family: 'Indie Flower', cursive;
    color: white;
    transition: background 0.8s ease-in-out;

    .typing-text {
        position: relative;
        margin-right: 60vw;
        margin-top: 30vw;
        font-size: 1.5rem;
        padding: 2rem;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 20px 0;
        min-width: 400px;
        font-family: 'Source Code Pro', monospace;
        font-weight: 300;
        letter-spacing: -3px;

        .typing {
            font-weight: 700;
            color: rgb(11, 202, 11);
            text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8),
                -3px 0px 7px rgba(81, 67, 21, 0.8),
                0px 4px 7px rgba(81, 67, 21, 0.8);
        }
    }

    .static-text {
        font-family: 'Open Sans';
        position: absolute;
        top: 30%;
        left: 14%;
        transform: translate3d(-50%, -50%, 0);
        background-color: rgba(#000, 0.5);
        width: 50%;
        max-width: 320px;
        padding: 5px;
        font-size: 15px;
        font-weight: 400;
        border: 2px solid #b78846;
        &:before,
        &:after {
            content: '•';
            position: absolute;
            width: 14px;
            height: 14px;
            font-size: 12px;
            color: #b78846;
            border: 2px solid #b78846;
            line-height: 12px;
            top: 5px;
            text-align: center;
        }
        &:before {
            left: 5px;
        }
        &:after {
            right: 5px;
        }
        p {
            position: relative;
            border: 2px solid #b78846;
            padding: 40px;
            &:before,
            &:after {
                content: '•';
                position: absolute;
                width: 14px;
                height: 14px;
                font-size: 14px;
                color: #b78846;
                border: 2px solid #b78846;
                line-height: 12px;
                bottom: -2px;
                text-align: center;
            }
            &:before {
                left: -2px;
            }
            &:after {
                right: -2px;
            }
        }
    }
}
