* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    cursor: url('./assets/images/custom-cursor-default.png'), auto;
}

body {
    background: black;

    .card,
    .box {
        cursor: url('./assets/images/custom-cursor-pointer.png'), pointer !important;
    }

    .skills-container {
        .card,
        .box {
            cursor: url('./assets/images/custom-cursor-info.png'), pointer !important;
        }
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #0d6077);
    border-radius: 6px;
    cursor: url('./assets/images/custom-cursor-pointer.png'), pointer !important;

    &:hover {
        background: linear-gradient(transparent, #00ffdd);
    }
}

// inputs autofill fix
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}
