@media screen and (max-width: 500px) {
    .navbar-container {
        .main-header {
            .nav-links {
                .nav-link {
                    a {
                        &::before {
                            font-size: 1.7em;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 890px) {
    .navbar-container {
        .main-header {
            .menu-icon {
                display: block;

                &__line {
                    animation: close-mid-line 0.8s backwards;
                    animation-direction: reverse;

                    &::before {
                        animation: close-top-line 0.8s backwards;
                        animation-direction: reverse;
                    }

                    &::after {
                        animation: close-btm-line 0.8s backwards;
                        animation-direction: reverse;
                    }
                }
            }

            .nav-links {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                padding: 10rem 0;
                width: 100vw;
                height: 100vh;
                font-size: 1.3rem;
                color: #ffffff;
                font-weight: 700;
                background: url('./assets/images/navbarMobile.png') no-repeat
                    bottom center;
                background-size: cover;
                // https://www.rawpixel.com/image/580049/black-geometrical-background
                transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
                clip-path: circle(200px at top right);

                .nav-link {
                    opacity: 0;
                    transform: translateX(100%);
                    width: 100%;
                    text-align: center;

                    a {
                        display: block;

                        &:before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 45%;
                            transform: translate(-50px, -50px);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 2.2em;
                            color: rgba(0, 0, 0, 0.1);
                            border-radius: 50%;
                            z-index: -1;
                            opacity: 0;
                            font-weight: 900;
                            text-transform: uppercase;
                            letter-spacing: 500px;
                            transition: letter-spacing 0.5s, left 0.5s;
                            background: none;
                        }
                    }

                    a {
                        &:hover {
                            background: none;
                            color: black;
                            text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.7);

                            &:before {
                                content: attr(data-text);
                                opacity: 1;
                                right: 20%;
                                bottom: 5%;
                                letter-spacing: 10px;
                                text-shadow: none;
                            }
                        }
                    }
                }
            }

            .menu-btn:checked ~ .nav-links {
                opacity: 1;
                clip-path: circle(100% at center);

                .nav-link {
                    opacity: 1;
                    transform: translateX(0);
                    transition: opacity 0.4s ease-in-out,
                        transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    &:nth-of-type(1) {
                        transition-delay: 0.7s;
                    }
                    &:nth-of-type(2) {
                        transition-delay: 0.8s;
                    }
                    &:nth-of-type(3) {
                        transition-delay: 0.9s;
                    }
                    &:nth-of-type(4) {
                        transition-delay: 1s;
                    }
                }
            }

            .menu-btn:checked ~ .menu-icon {
                border-radius: 50%;
                animation: pulse 1s;

                .menu-icon__line {
                    background: #228dff;
                    animation: open-mid-line 0.8s forwards;

                    &::before {
                        background: #228dff;
                        animation: open-top-line 0.8s forwards;
                    }

                    &::after {
                        background: #228dff;
                        animation: open-btm-line 0.8s forwards;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .navbar-container {
        .main-header {
            .nav-links {
                .nav-link {
                    a {
                        &:hover {
                            &:before {
                                width: 8.5%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 3840px) {
    .navbar-container {
        .main-header {
            .logo {
                background: url('./assets/images/logo-big.png');
                width: 102px;
                height: 126px;
                cursor: url('./assets/images/custom-cursor-pointer.png'),
                    pointer !important;
            }

            &.scrolled {
                height: 150px;
            }
            .nav-links {
                font-size: 3rem;

                .nav-link {
                    padding: 3rem;

                    a {
                        &:hover {
                            &:before {
                                width: 6%;
                            }
                        }
                    }
                }
            }
        }
    }
}
