.skills-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 45vh;
    flex-wrap: wrap;
    background: url('./assets/images/pexels-photo-1287083.jpeg') no-repeat
        center;
    background-size: cover;
    // https://www.pexels.com/photo/trees-surrounded-by-fogs-in-the-forest-1287083/ :)
}

.skills-container {
    h1 {
        font-size: 40px;
        padding: 40px;
        flex-basis: 100%;
        color: #fff;
        text-shadow: 0 0 50px #f06292;
        font-family: 'Montserrat', sans-serif;

        u {
            text-decoration: none;
            border-bottom: 10px solid #228dff;
        }
    }
}
